/* Start Importing Fonts */
@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl-Light.otf");
  font-weight: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl-Bold.otf");
  font-weight: 600;
}
/* End Importing Fonts */
/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "SuisseIntl";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding-right: 0;
}

@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1800px;
  }
}

.fw-bold {
  font-weight: 600 !important;
}

/* End Global Rules */
/* Start Components */
button.btn,
a.btn,
.btn {
  background-image: none;
  background-color: rgb(22, 24, 27);
  color: white;
  font-weight: 600;
  padding: 23px 21px 23px 21px;
  transition: 0.3s;
  border-radius: 16px;
}
@media (min-width: 1400px) {
  button.btn,
  a.btn,
  .btn {
    font-size: 24px;
  }
}
@media (max-width: 1399px) {
  button.btn,
  a.btn,
  .btn {
    font-size: calc(24px - 0.45vw);
  }
}
button.btn:hover,
a.btn:hover,
.btn:hover {
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  background-color: none;
}

button.btn.yellow {
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  background-color: none;
  color: white;
}
button.btn.yellow:hover {
  color: white;
  background-image: none;
  background-color: rgb(22, 24, 27);
}

.btn-white {
  background-color: white;
  color: black;
}
.btn-white svg {
  color: black;
}
.btn-white:hover {
  color: white;
}
.btn-white:hover svg {
  color: white;
}

button.btn-gray {
  background-color: rgba(255, 255, 255, 0.231372549);
}

.after {
  position: relative;
}
.after::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  width: 68px;
  border-radius: 56px;
  transition: 0.3s;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .center-md {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  h1,
  h2,
  p,
  a {
    text-align: center;
  }
}

.section-question {
  padding: 12px 31px;
  color: #212936;
  border-radius: 1000px;
  background-color: #F4F4F4;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 25px;
}
@media (min-width: 1400px) {
  .section-question {
    font-size: 24px;
  }
}
@media (max-width: 1399px) {
  .section-question {
    font-size: calc(24px - 0.45vw);
  }
}

h2 {
  line-height: 150%;
}
@media (min-width: 1400px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1399px) {
  h2 {
    font-size: calc(40px - 0.45vw);
  }
}

.test {
  border: 1px solid red;
}

.test-blue {
  border: 1px solid blue;
}

/* End Components */
/* Start Header */
header {
  overflow: hidden;
}
header .container-xxl .navbar-brand img {
  max-width: 167px;
}
header .container-xxl .navigation a {
  color: rgb(108, 108, 108);
  transition: 0.3s;
  position: relative;
}
@media (min-width: 1400px) {
  header .container-xxl .navigation a {
    font-size: 24px;
  }
}
@media (max-width: 1399px) {
  header .container-xxl .navigation a {
    font-size: calc(24px - 0.45vw);
  }
}
header .container-xxl .navigation a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 15px;
  height: 6px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  width: 0;
  border-radius: 56px;
  transition: 0.3s;
}
header .container-xxl .navigation a:hover, header .container-xxl .navigation a.active {
  font-weight: bold;
  color: rgb(33, 41, 54);
}
header .container-xxl .navigation a:hover::after, header .container-xxl .navigation a.active::after {
  width: 25%;
}
header .container-xxl .socials .nav-link {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  border-radius: 50%;
  transition: 0.3s;
}
header .container-xxl .socials .nav-link:hover {
  background-color: black;
  background-image: none;
}
header .container-xxl .socials .nav-link svg {
  font-size: 22px;
  color: white;
}
@media (min-width: 1400px) {
  header .container-xxl .socials .nav-link svg {
    font-size: 22px;
  }
}
@media (max-width: 1399px) {
  header .container-xxl .socials .nav-link svg {
    font-size: calc(22px - 0.45vw);
  }
}

/* End Header */
/* Start Hero */
.hero {
  height: calc(100vh - 110px);
}
@media (max-width: 991px) {
  .hero {
    height: auto;
  }
}
.hero .container-xxl {
  position: relative;
}
.hero .container-xxl .hero-bg {
  background-image: url("../assets/img/Hero_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.hero .container-xxl .section-container {
  padding: 72px;
  position: relative;
  z-index: 100;
}
@media (max-width: 1399px) {
  .hero .container-xxl .section-container {
    padding: 45px;
  }
}
@media (max-width: 991px) {
  .hero .container-xxl .section-container {
    padding: 15px;
    padding-top: 45px;
  }
}
@media (min-width: 1400px) {
  .hero .container-xxl .section-container .text-copy h1 {
    font-size: 40px;
  }
}
@media (max-width: 1399px) {
  .hero .container-xxl .section-container .text-copy h1 {
    font-size: calc(40px - 0.45vw);
  }
}
.hero .container-xxl .section-container .text-copy > p {
  color: rgb(129, 129, 129);
  line-height: 150%;
}
@media (min-width: 1400px) {
  .hero .container-xxl .section-container .text-copy > p {
    font-size: 26px;
  }
}
@media (max-width: 1399px) {
  .hero .container-xxl .section-container .text-copy > p {
    font-size: calc(26px - 0.45vw);
  }
}
.hero .container-xxl .section-container .text-copy .badges img {
  min-width: 60px;
  width: 25vh;
  max-width: 245px;
  transition: 0.3s;
}
.hero .container-xxl .section-container .text-copy .badges img:hover {
  transform: scale(1.05);
}
.hero .container-xxl .section-container .left {
  position: relative;
}
.hero .container-xxl .section-container .left .left-holder {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
}
@media (max-width: 991px) {
  .hero .container-xxl .section-container .left .left-holder {
    position: relative;
    margin-bottom: 100px;
  }
}
.hero .container-xxl .section-container .left .floating-box-holder {
  position: relative;
  z-index: 300;
}
.hero .container-xxl .section-container .left .floating-box-holder .floating-box {
  width: 40vh;
  height: 40vh;
  max-width: 304px;
  max-height: 304px;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(-75%, -50%);
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.1);
  border-radius: 31px;
  background-color: white;
}
@media (max-width: 991px) {
  .hero .container-xxl .section-container .left .floating-box-holder .floating-box {
    display: none;
  }
}
.hero .container-xxl .section-container .left .mobile-holder {
  z-index: 299;
}
.hero .container-xxl .section-container .left .mobile-holder img {
  height: 75vh;
}
.hero .container-xxl .scroll-button {
  position: absolute;
  bottom: 50px;
  right: 50%;
  transform: translate(50%, 50%);
  border-radius: 1000px;
  padding: 10px;
  background-color: transparent;
  z-index: 100;
}
@media (max-width: 991px) {
  .hero .container-xxl .scroll-button {
    bottom: 100px;
  }
}
.hero .container-xxl .scroll-button::before {
  content: "";
  z-index: -1 !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% + 3px);
  height: calc(50% + 3px);
  border: 1px solid #FFAF04;
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-bottom-color: transparent;
  transition: 0.3s;
}
.hero .container-xxl .scroll-button:hover::before {
  border-bottom-color: #FFAF04;
  height: calc(100% + 3px);
  border-radius: 1000px;
}
.hero .container-xxl .s-button {
  padding: 51px 33px;
  background-color: white;
  border-radius: 1000px;
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.1);
}
.hero .container-xxl .s-button svg {
  font-size: 35px;
  animation: bounce 2s infinite 2s;
}

.features {
  margin-bottom: 50px;
}
.features .feature {
  text-align: center;
}
.features .feature .feature-icon {
  background-image: linear-gradient(90deg, rgba(255, 175, 4, 0.7) -0.01%, rgba(249, 132, 41, 0.7) 52%);
  width: 113px;
  height: 113px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
.features .feature .feature-icon svg {
  font-size: 33px;
}
.features .feature p {
  font-weight: 600;
}
@media (min-width: 1400px) {
  .features .feature p {
    font-size: 24px;
  }
}
@media (max-width: 1399px) {
  .features .feature p {
    font-size: calc(24px - 0.45vw);
  }
}
.features.about .feature-icon {
  background-image: none;
  background-color: #FDE7D0;
  width: 207px;
  height: 207px;
}
.features.about .feature-icon img {
  width: 50px;
}

.props {
  background-image: url(../assets/img/map_bg.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 590px;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-25px);
  }
}
/* End Hero */
/* Start About */
.about {
  overflow: hidden;
  margin-top: 100px;
}
.about .text-copy ul li {
  line-height: 28px;
  padding: 20px 58px 20px 20px;
  background-color: #FAFAFA;
  margin-bottom: 16px;
  position: relative;
}
@media (min-width: 1400px) {
  .about .text-copy ul li {
    font-size: 20px;
  }
}
@media (max-width: 1399px) {
  .about .text-copy ul li {
    font-size: calc(20px - 0.45vw);
  }
}
.about .text-copy ul li::before {
  content: "";
  background-image: url("../assets/img/Check.png");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 29px;
  transform: translate(50%, -50%);
}
.about .left .col-holder {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.about .left .col-holder .stats {
  position: absolute;
  bottom: 50px;
  right: 0;
  transform: translateX(50%);
  background-color: #212936;
  padding: 15px 27px;
  border-radius: 8px;
  color: white;
}
@media (max-width: 991px) {
  .about .left .col-holder .stats {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
  }
}
.about .left .col-holder .stats p:first-child {
  font-weight: 600;
}
@media (min-width: 1400px) {
  .about .left .col-holder .stats p:first-child {
    font-size: 36px;
  }
}
@media (max-width: 1399px) {
  .about .left .col-holder .stats p:first-child {
    font-size: calc(36px - 0.45vw);
  }
}
@media (min-width: 1400px) {
  .about .left .col-holder .stats p:last-child {
    font-size: 24px;
  }
}
@media (max-width: 1399px) {
  .about .left .col-holder .stats p:last-child {
    font-size: calc(24px - 0.45vw);
  }
}
.about .left .col-holder .decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 162px;
  height: 138px;
  border-radius: 31px 6px 24px 7px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  z-index: -1;
}

.page.about {
  margin-top: unset;
}

/* End About */
/* Start How */
.how {
  margin-top: 100px;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .how .section-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 1399px) {
  .how .section-title h2 {
    font-size: calc(32px - 0.45vw);
  }
}
.how .steps .step {
  max-width: 300px;
}
.how .steps .step .number {
  color: white;
  width: 127px;
  height: 127px;
  background-color: #FC9918;
  border-radius: 16px;
}
@media (min-width: 1400px) {
  .how .steps .step .number {
    font-size: 48px;
  }
}
@media (max-width: 1399px) {
  .how .steps .step .number {
    font-size: calc(48px - 0.45vw);
  }
}
.how .steps .step p {
  padding-right: 8px;
}
.how .steps .step p:first-child {
  font-size: 24px;
}
.how .steps .step p:last-child {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
}
@media (max-width: 991px) {
  .how .steps .step {
    max-width: unset;
  }
  .how .steps .step p {
    padding-right: unset;
  }
}

/* End How */
/* Start Services */
.services,
.services-services {
  margin-top: 100px;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .services h2,
  .services-services h2 {
    font-size: 40px;
  }
}
@media (max-width: 1399px) {
  .services h2,
  .services-services h2 {
    font-size: calc(40px - 0.45vw);
  }
}
.services .services-holder .service,
.services-services .services-holder .service {
  width: 262px;
  height: 426px;
  padding: 25px 19px;
  transition-duration: 0.3s;
  transform: scale(0);
}
.services .services-holder .service .service-icon,
.services-services .services-holder .service .service-icon {
  position: relative;
  width: 87px;
  height: 92px;
  border-radius: 19px;
  padding: 16px;
  margin-bottom: 24px;
  right: 0;
  transition: 0.3s;
}
.services .services-holder .service .service-icon svg,
.services-services .services-holder .service .service-icon svg {
  font-size: 30px;
}
.services .services-holder .service:hover,
.services-services .services-holder .service:hover {
  transform: scale(1.03) !important;
}
.services .services-holder .service:hover .service-icon,
.services-services .services-holder .service:hover .service-icon {
  right: 50%;
  transform: translateX(50%);
}
.services .services-holder .service .service-title,
.services-services .services-holder .service .service-title {
  font-size: 24px;
}
.services .services-holder .service p,
.services-services .services-holder .service p {
  margin-top: 24px;
  font-size: 20px;
  line-height: 30px;
}
.services .services-holder a,
.services-services .services-holder a {
  width: 262px;
  transform: translateX(-1000px);
}
.services .services-holder.marg,
.services-services .services-holder.marg {
  margin-right: -175px;
}
@media (max-width: 991px) {
  .services .services-holder.marg,
  .services-services .services-holder.marg {
    margin-right: unset;
  }
}
.services .services-holder.marg .service,
.services-services .services-holder.marg .service {
  height: 231px;
  border-radius: 32px;
}
.services .services-holder.serv .service,
.services-services .services-holder.serv .service {
  border-top-left-radius: 241px 76px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 241px 76px;
  border-bottom-left-radius: 50px;
}

.page.services {
  margin-top: unset;
}

.service.one {
  background-color: rgba(255, 232, 232, 0.3);
}
.service.one .service-icon {
  background-color: #ffe8e8;
}
.service.one:hover {
  background-color: #ffe8e8;
}

.service.two {
  background-color: rgba(211, 233, 255, 0.3);
}
.service.two .service-icon {
  background-color: #d3e9ff;
}
.service.two:hover {
  background-color: #d3e9ff;
}

.service.three {
  background-color: rgba(174, 248, 207, 0.3);
}
.service.three .service-icon {
  background-color: #aef8cf;
}
.service.three:hover {
  background-color: #aef8cf;
}

.service.four {
  background-color: rgba(255, 228, 188, 0.3);
}
.service.four .service-icon {
  background-color: #ffe4bc;
}
.service.four:hover {
  background-color: #ffe4bc;
}

.service.five {
  background-color: rgba(255, 228, 252, 0.3);
}
.service.five .service-icon {
  background-color: #ffe4fc;
}
.service.five:hover {
  background-color: #ffe4fc;
}

.service.six {
  background-color: rgba(200, 251, 244, 0.3);
}
.service.six .service-icon {
  background-color: #c8fbf4;
}
.service.six:hover {
  background-color: #c8fbf4;
}

.service.seven {
  background-color: rgba(253, 243, 235, 0.3);
}
.service.seven .service-icon {
  background-color: #fdf3eb;
}
.service.seven:hover {
  background-color: #fdf3eb;
}

.service.eight {
  background-color: rgba(255, 232, 232, 0.3);
}
.service.eight .service-icon {
  background-color: #ffe8e8;
}
.service.eight:hover {
  background-color: #ffe8e8;
}

/* End Services */
/* Start Provider */
.provider {
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 100px;
}
.provider .section-container {
  background-image: url(../assets/img/Provider_BG.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.provider .btn {
  transform: translateX(1000px);
}
.provider .text-copy,
.provider .img-holder {
  padding: 73px 63px;
}
@media (max-width: 991px) {
  .provider .text-copy,
  .provider .img-holder {
    padding: 35px 26px 17px;
  }
}
.provider h2 {
  font-size: 48px;
  line-height: 150%;
}
.provider.about, .provider.services-page {
  margin-top: unset;
}
.provider.about .section-container, .provider.services-page .section-container {
  border-radius: 30px;
  background-image: linear-gradient(177.39deg, #FEF4EC 1.94%, rgba(254, 244, 236, 0) 97.6%);
}
.provider.about h2, .provider.services-page h2 {
  font-size: 40px;
}
.provider.about h2 span, .provider.services-page h2 span {
  color: #FFAF04;
}
.provider.about .badges a img, .provider.services-page .badges a img {
  transition: 0.3s;
}
.provider.about .badges a img:hover, .provider.services-page .badges a img:hover {
  transform: scale(1.05);
}

/* End Provider */
/* Start Plans */
.plans {
  margin-top: 100px;
}
@media (min-width: 1400px) {
  .plans .section-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 1399px) {
  .plans .section-title h2 {
    font-size: calc(32px - 0.45vw);
  }
}
.plans .switcher {
  border-radius: 1000px;
  padding: 10px;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.1);
}
.plans .switcher .toog {
  width: 162px;
  font-size: 24px;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 1000px;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  z-index: 2;
}
.plans .switcher .toog:hover {
  font-weight: 600;
}
.plans .switcher .toog.active {
  font-weight: 600;
}
.plans .switcher .switcher-bg {
  position: absolute;
  background-color: #FDECE2;
  border-radius: 1000px;
  width: 162px;
  height: 74px;
  top: 10px;
  z-index: 0;
  transition: 0.3s;
}
.plans .switcher .switcher-bg.left {
  left: 10px;
}
.plans .switcher .switcher-bg.right {
  left: calc(100% - 172px);
}
.plans .plans-holder .plan {
  background-color: #FAFAFA;
  border: 1px solid #F0F0F0;
  border-radius: 50px;
  padding: 50px 16px 33px;
}
.plans .plans-holder .plan .name {
  font-size: 24px;
  color: #747474;
}
.plans .plans-holder .plan .price .num {
  font-size: 48px;
  margin-left: 10px;
}
.plans .plans-holder .plan .price .cur {
  font-size: 20px;
}
.plans .plans-holder .plan button {
  width: 100%;
}
.plans .plans-holder .plan ul li {
  padding-right: 36px;
  font-size: 14px;
  line-height: 21px;
  position: relative;
}
.plans .plans-holder .plan ul li:not(:last-child) {
  margin-bottom: 18px;
}
.plans .plans-holder .plan ul li::before {
  content: "";
  background-image: url("../assets/img/plans_check.png");
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 14px;
  transform: translate(50%, -50%);
}
.plans .plans-holder .plan.popular {
  padding: 100px 16px;
  color: white;
  background-image: url(../assets/img/popular_plan_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.plans .plans-holder .plan.popular .name {
  color: white;
}
.plans .plans-holder .plan.popular button:hover {
  background-color: white;
  color: black;
}
.plans .plans-holder .plan.popular ul li::before {
  background-image: url("../assets/img/plans_popular_check.png");
}

/* End Plans */
/* Start Footer */
footer {
  margin-top: 100px;
  background-color: #202020;
}
footer .links li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 991px) {
  footer .links li a {
    margin-left: auto;
    margin-right: auto;
  }
}
footer .links li a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  height: 6px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  width: 0;
  border-radius: 56px;
  transition: 0.3s;
}
footer .links li a:hover::after {
  width: 50px;
}
footer .links li:not(:last-child) {
  margin-bottom: 20px;
}
footer .main-footer {
  padding-top: 43px;
  border-bottom: 1px solid #FFFFFF;
}
footer .main-footer h3 {
  font-size: 20px;
  background: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .main-footer .socials .nav-link {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  background-image: none;
  border-radius: 50%;
  transition: 0.3s;
}
footer .main-footer .socials .nav-link:hover {
  background-color: transparent;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
}
footer .main-footer .socials .nav-link svg {
  font-size: 22px;
  color: white;
}
@media (min-width: 1400px) {
  footer .main-footer .socials .nav-link svg {
    font-size: 22px;
  }
}
@media (max-width: 1399px) {
  footer .main-footer .socials .nav-link svg {
    font-size: calc(22px - 0.45vw);
  }
}
footer .main-footer .download img {
  width: 160px;
  max-width: 100%;
  transition: 0.3s;
}
footer .main-footer .download img:hover {
  transform: scale(1.05);
}
footer .copyrights {
  padding-top: 35px;
  padding-bottom: 35px;
}
footer .copyrights a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
footer .copyrights a:hover {
  color: white;
}

/* End Footer */
/* Start provider-cta */
.provider-cta {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
}
.provider-cta .container-fluid {
  padding: 0;
}
.provider-cta .holder {
  box-shadow: 0px 4px 75px 0px rgba(0, 0, 0, 0.2509803922);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.provider-cta .right {
  position: relative;
  height: 450px;
  top: -20px;
}
@media (max-width: 767px) {
  .provider-cta .right {
    top: 0;
  }
}
.provider-cta .right .holder {
  position: absolute;
  background-image: url(../assets/img/provider-cta-yellow-bg.png);
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.provider-cta .right img {
  position: relative;
  z-index: 60;
  height: 450px;
}
@media (max-width: 991px) {
  .provider-cta .right img {
    z-index: 1;
  }
}
.provider-cta .left .holder {
  background-image: url(../assets/img/provider-cta-black-bg.png);
  padding-top: 50px;
  padding-right: 156px;
  margin-right: -220px;
  width: calc(100% + 220px);
  position: relative;
}
@media (max-width: 991px) {
  .provider-cta .left .holder {
    padding-right: 60px;
    margin-right: -100px;
    width: calc(100% + 100px);
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .provider-cta .left .holder {
    z-index: 30;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -150px;
    width: 80%;
  }
}
.provider-cta .left .holder h2 {
  max-width: 740px;
  line-height: 72px;
}
@media (max-width: 991px) {
  .provider-cta .left .holder h2 {
    text-align: start;
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .provider-cta .left .holder h2 {
    text-align: center;
  }
}

/* End provider-cta */
/* Start Services-services */
.services-services .after::after {
  left: unset;
  right: -30px;
}
@media (max-width: 991px) {
  .services-services .after::after {
    left: 50%;
    right: unset;
  }
}

/* End Services-services */
/* Start Page Title */
.page-title {
  height: 300px;
  background-image: url(../assets/img/section-title-bg.svg);
  background-size: cover;
}
.page-title h1 {
  padding-right: 40px;
  font-size: 40px;
}
.page-title h1::after {
  height: 43px;
  width: 5px;
  left: unset;
  right: 20px;
  transform: translate(50%, -50%);
}

/* End Page Title */
/* Start Contact */
.contact {
  position: relative;
  overflow: hidden;
}
.contact .contact-bg {
  max-width: 768px;
  width: 33%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.contact h2 {
  font-size: 40px;
}
.contact h2 span {
  color: #FFAF04;
}
.contact .info {
  background-color: white;
  border-radius: 20px;
}
.contact .info .info-rows .icon {
  width: 56px;
  height: 56px;
  background-color: #F4F8FC;
  border-radius: 50%;
}
.contact .info .info-rows .icon svg {
  color: #FFAF04;
  font-size: 20px;
}
.contact .info .info-rows p {
  margin-bottom: 7px;
}
.contact .info .socials {
  margin-bottom: 60px;
}
.contact .info .socials svg {
  font-size: 25px;
  transition: 0.3s;
}
.contact .info .socials svg:hover {
  color: #FFAF04;
}
.contact .form p {
  color: #787878;
  letter-spacing: 0.02em;
  line-height: 27.79px;
  font-size: 24px;
}
.contact .form form input,
.contact .form form textarea {
  max-width: 788px;
  background-color: #FBFBFB;
  border-color: #E0E0E0;
}
@media (max-width: 991px) {
  .contact .form form input,
  .contact .form form textarea {
    max-width: unset;
  }
}
.contact .form form input:focus,
.contact .form form textarea:focus {
  border-color: #FFAF04;
  outline: none;
  box-shadow: none;
}
.contact .form form button {
  max-width: 788px;
  font-size: 20px;
}
@media (max-width: 991px) {
  .contact .form form button {
    max-width: unset;
  }
}

/* End Contact */
/* Start Terms */
.terms h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
}
.terms p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 48px;
}

/* End Terms */
/* Start blog-archive */
.blog-archive .blog-post {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.blog-archive .blog-post .blog-img {
  position: relative;
  overflow: hidden;
}
.blog-archive .blog-post .blog-img img {
  transition: 0.3s;
}
.blog-archive .blog-post .blog-img .category {
  position: absolute;
  border-radius: 8px;
  left: 14px;
  bottom: 14px;
  padding: 10px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  transition: 0.3s;
}
.blog-archive .blog-post .blog-img .category a {
  color: white;
  text-decoration: none;
}
.blog-archive .blog-post .blog-img .category:hover {
  background-image: none;
  background-color: black;
}
.blog-archive .blog-post:hover .blog-img img {
  transform: scale(1.05);
}
.blog-archive .blog-post .blog-info h2 {
  font-size: 20px;
}
.blog-archive .blog-post .blog-info h2 a {
  text-decoration: none;
  color: black;
}
.blog-archive .blog-post .blog-info h2 a::after {
  width: 0;
  bottom: -7.5px;
  height: 4px;
  right: 0;
  transform: unset;
}
.blog-archive .blog-post .blog-info h2 a:hover::after {
  width: 40px;
}
@media (max-width: 991px) {
  .blog-archive .blog-post .blog-info h2,
  .blog-archive .blog-post .blog-info p {
    text-align: start;
  }
}
.blog-archive .blog-post .blog-info .time {
  color: #828282;
}
.blog-archive .blog-post .blog-info .time svg {
  font-size: 20px;
  margin-bottom: 5px;
}

/* End blog-archive *//*# sourceMappingURL=main.css.map */