/* Start Importing Fonts */
@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl-Light.otf");
  font-weight: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl-Bold.otf");
  font-weight: 600;
}
/* End Importing Fonts */
/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "SuisseIntl";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-moz-selection {
  color: white;
  background-color: #FFAF04;
}

*::selection {
  color: white;
  background-color: #FFAF04;
}

@media (max-width: 576px) {
  h1 {
    font-size: 26px;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 29.2621359223px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 33.067961165px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 36.6019417476px;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  h2 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 22.7961165049px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 26.0582524272px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 29.0873786408px;
  }
}
@media (min-width: 1400px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  h3 {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 20.3300970874px;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 23.0485436893px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 25.572815534px;
  }
}
@media (min-width: 1400px) {
  h3 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  h4 {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 17.8640776699px;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 20.0388349515px;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 22.0582524272px;
  }
}
@media (min-width: 1400px) {
  h4 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  p {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  p {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  p {
    font-size: 16.1650485437px;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 17.5242718447px;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 18.786407767px;
  }
}
@media (min-width: 1400px) {
  p {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  div {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  div {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  div {
    font-size: 16.932038835px;
  }
}
@media (min-width: 992px) {
  div {
    font-size: 18.0194174757px;
  }
}
@media (min-width: 1200px) {
  div {
    font-size: 19.0291262136px;
  }
}
@media (min-width: 1400px) {
  div {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  a {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  a {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  a {
    font-size: 15.2330097087px;
  }
}
@media (min-width: 992px) {
  a {
    font-size: 15.5048543689px;
  }
}
@media (min-width: 1200px) {
  a {
    font-size: 15.7572815534px;
  }
}
@media (min-width: 1400px) {
  a {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  li {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  li {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  li {
    font-size: 15.2330097087px;
  }
}
@media (min-width: 992px) {
  li {
    font-size: 15.5048543689px;
  }
}
@media (min-width: 1200px) {
  li {
    font-size: 15.7572815534px;
  }
}
@media (min-width: 1400px) {
  li {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  button {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  button {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  button {
    font-size: 15.3980582524px;
  }
}
@media (min-width: 992px) {
  button {
    font-size: 17.0291262136px;
  }
}
@media (min-width: 1200px) {
  button {
    font-size: 18.5436893204px;
  }
}
@media (min-width: 1400px) {
  button {
    font-size: 20px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding-right: 0;
}

.container {
  border: 1px solid red;
}
@media (min-width: 1400px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    max-width: 1600px;
  }
}
@media (max-width: 1399px) {
  .container {
    max-width: unset !important;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.fw-bold {
  font-weight: 600 !important;
}

/* End Global Rules */
/* Start Components */
button.btn,
a.btn,
.btn {
  background-image: none;
  background-color: rgb(22, 24, 27);
  color: white;
  font-weight: 600;
  /*/*@include font-size(24px)*/
  font-size: unset !important;
  transition: 0.3s;
  border-radius: 16px;
}
@media (max-width: 576px) {
  button.btn,
  a.btn,
  .btn {
    padding: 10px 20px;
  }
}
@media (min-width: 576px) {
  button.btn,
  a.btn,
  .btn {
    padding: 10px 10px;
  }
}
@media (min-width: 768px) {
  button.btn,
  a.btn,
  .btn {
    padding: 12.3300970874px 12.3300970874px;
  }
}
@media (min-width: 992px) {
  button.btn,
  a.btn,
  .btn {
    padding: 15.0485436893px 15.0485436893px;
  }
}
@media (min-width: 1200px) {
  button.btn,
  a.btn,
  .btn {
    padding: 17.572815534px 17.572815534px;
  }
}
@media (min-width: 1400px) {
  button.btn,
  a.btn,
  .btn {
    padding: 20px 20px;
  }
}
@media (max-width: 576px) {
  button.btn,
  a.btn,
  .btn {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  button.btn,
  a.btn,
  .btn {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  button.btn,
  a.btn,
  .btn {
    font-size: 16.1650485437px;
  }
}
@media (min-width: 992px) {
  button.btn,
  a.btn,
  .btn {
    font-size: 17.5242718447px;
  }
}
@media (min-width: 1200px) {
  button.btn,
  a.btn,
  .btn {
    font-size: 18.786407767px;
  }
}
@media (min-width: 1400px) {
  button.btn,
  a.btn,
  .btn {
    font-size: 20px;
  }
}
button.btn:hover,
a.btn:hover,
.btn:hover {
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  background-color: none;
}

button.btn.yellow {
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  background-color: none;
  color: white;
}
button.btn.yellow:hover {
  color: white;
  background-image: none;
  background-color: rgb(22, 24, 27);
}

.btn-white {
  background-color: white;
  color: black;
}
.btn-white svg {
  color: black;
}
.btn-white:hover {
  color: white;
}
.btn-white:hover svg {
  color: white;
}

button.btn-gray {
  background-color: rgba(255, 255, 255, 0.231372549);
}

.after {
  position: relative;
}
.after::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  width: 68px;
  border-radius: 56px;
  transition: 0.3s;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .center-md {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  h1,
  h2,
  p,
  a {
    text-align: center;
  }
}

.section-question {
  padding: 12px 31px;
  /*@include font-size(24px)*/
  color: #212936;
  border-radius: 1000px;
  background-color: #F4F4F4;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 25px;
}

h2 {
  /*@include font-size(40px);*/
  line-height: 150%;
}

.test {
  border: 1px solid red;
}

.test-blue {
  border: 1px solid blue;
}

/* End Components */
/* Start Header */
header {
  overflow: hidden;
}
@media (max-width: 576px) {
  header .container .navbar-brand img {
    max-width: 120px;
  }
}
@media (min-width: 576px) {
  header .container .navbar-brand img {
    max-width: 120px;
  }
}
@media (min-width: 768px) {
  header .container .navbar-brand img {
    max-width: 130.9514563107px;
  }
}
@media (min-width: 992px) {
  header .container .navbar-brand img {
    max-width: 143.7281553398px;
  }
}
@media (min-width: 1200px) {
  header .container .navbar-brand img {
    max-width: 155.5922330097px;
  }
}
@media (min-width: 1400px) {
  header .container .navbar-brand img {
    max-width: 167px;
  }
}
header .container .navigation a {
  color: rgb(108, 108, 108);
  /*/*@include font-size(24px)*/
  transition: 0.3s;
  position: relative;
}
@media (max-width: 576px) {
  header .container .navigation a {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  header .container .navigation a {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  header .container .navigation a {
    font-size: 15.3980582524px;
  }
}
@media (min-width: 992px) {
  header .container .navigation a {
    font-size: 17.0291262136px;
  }
}
@media (min-width: 1200px) {
  header .container .navigation a {
    font-size: 18.5436893204px;
  }
}
@media (min-width: 1400px) {
  header .container .navigation a {
    font-size: 20px;
  }
}
header .container .navigation a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 15px;
  height: 6px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  width: 0;
  border-radius: 56px;
  transition: 0.3s;
}
header .container .navigation a:hover, header .container .navigation a.active {
  font-weight: bold;
  color: rgb(33, 41, 54);
}
header .container .navigation a:hover::after, header .container .navigation a.active::after {
  width: 25%;
}
header .container .socials button.btn {
  font-size: unset !important;
}
@media (max-width: 576px) {
  header .container .socials button.btn {
    padding: 5px 10px;
  }
}
@media (min-width: 576px) {
  header .container .socials button.btn {
    padding: 5px 10px;
  }
}
@media (min-width: 768px) {
  header .container .socials button.btn {
    padding: 8.4951456311px 10px;
  }
}
@media (min-width: 992px) {
  header .container .socials button.btn {
    padding: 12.572815534px 10px;
  }
}
@media (min-width: 1200px) {
  header .container .socials button.btn {
    padding: 16.359223301px 10px;
  }
}
@media (min-width: 1400px) {
  header .container .socials button.btn {
    padding: 20px 10px;
  }
}
@media (max-width: 576px) {
  header .container .socials button.btn {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  header .container .socials button.btn {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  header .container .socials button.btn {
    font-size: 14.6310679612px;
  }
}
@media (min-width: 992px) {
  header .container .socials button.btn {
    font-size: 16.5339805825px;
  }
}
@media (min-width: 1200px) {
  header .container .socials button.btn {
    font-size: 18.3009708738px;
  }
}
@media (min-width: 1400px) {
  header .container .socials button.btn {
    font-size: 20px;
  }
}
header .container .socials .nav-link {
  background-color: transparent;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  border-radius: 50%;
  transition: 0.3s;
}
@media (max-width: 576px) {
  header .container .socials .nav-link {
    width: 25px;
  }
}
@media (min-width: 576px) {
  header .container .socials .nav-link {
    width: 20px;
  }
}
@media (min-width: 768px) {
  header .container .socials .nav-link {
    width: 26.5242718447px;
  }
}
@media (min-width: 992px) {
  header .container .socials .nav-link {
    width: 34.1359223301px;
  }
}
@media (min-width: 1200px) {
  header .container .socials .nav-link {
    width: 41.2038834951px;
  }
}
@media (min-width: 1400px) {
  header .container .socials .nav-link {
    width: 48px;
  }
}
@media (max-width: 576px) {
  header .container .socials .nav-link {
    height: 25px;
  }
}
@media (min-width: 576px) {
  header .container .socials .nav-link {
    height: 20px;
  }
}
@media (min-width: 768px) {
  header .container .socials .nav-link {
    height: 26.5242718447px;
  }
}
@media (min-width: 992px) {
  header .container .socials .nav-link {
    height: 34.1359223301px;
  }
}
@media (min-width: 1200px) {
  header .container .socials .nav-link {
    height: 41.2038834951px;
  }
}
@media (min-width: 1400px) {
  header .container .socials .nav-link {
    height: 48px;
  }
}
header .container .socials .nav-link:hover {
  background-color: black;
  background-image: none;
}
header .container .socials .nav-link svg {
  color: white;
}
@media (max-width: 576px) {
  header .container .socials .nav-link svg {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  header .container .socials .nav-link svg {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  header .container .socials .nav-link svg {
    font-size: 15.8640776699px;
  }
}
@media (min-width: 992px) {
  header .container .socials .nav-link svg {
    font-size: 18.0388349515px;
  }
}
@media (min-width: 1200px) {
  header .container .socials .nav-link svg {
    font-size: 20.0582524272px;
  }
}
@media (min-width: 1400px) {
  header .container .socials .nav-link svg {
    font-size: 22px;
  }
}

/* End Header */
/* Start Hero */
.hero {
  height: calc(100vh - 110px);
}
@media (max-width: 991px) {
  .hero {
    height: auto;
  }
}
.hero .container {
  position: relative;
}
.hero .container .hero-bg {
  background-image: url("../assets/img/Hero_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.hero .container .section-container {
  padding: 72px;
  position: relative;
  z-index: 100;
}
@media (max-width: 1399px) {
  .hero .container .section-container {
    padding: 45px;
  }
}
@media (max-width: 991px) {
  .hero .container .section-container {
    padding: 15px;
    padding-top: 45px;
  }
}
.hero .container .section-container .text-copy h1 {
  /*@include font-size(40px);*/
}
.hero .container .section-container .text-copy > p {
  color: rgb(129, 129, 129);
  line-height: 150%;
}
.hero .container .section-container .text-copy .badges img {
  min-width: 60px;
  transition: 0.3s;
}
@media (max-width: 576px) {
  .hero .container .section-container .text-copy .badges img {
    width: 120px;
  }
}
@media (min-width: 576px) {
  .hero .container .section-container .text-copy .badges img {
    width: 120px;
  }
}
@media (min-width: 768px) {
  .hero .container .section-container .text-copy .badges img {
    width: 138.640776699px;
  }
}
@media (min-width: 992px) {
  .hero .container .section-container .text-copy .badges img {
    width: 160.3883495146px;
  }
}
@media (min-width: 1200px) {
  .hero .container .section-container .text-copy .badges img {
    width: 180.5825242718px;
  }
}
@media (min-width: 1400px) {
  .hero .container .section-container .text-copy .badges img {
    width: 200px;
  }
}
.hero .container .section-container .text-copy .badges img:hover {
  transform: scale(1.05);
}
.hero .container .section-container .left {
  position: relative;
}
.hero .container .section-container .left .left-holder {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
}
@media (max-width: 576px) {
  .hero .container .section-container .left .left-holder {
    height: 50vh;
  }
}
@media (min-width: 576px) {
  .hero .container .section-container .left .left-holder {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .hero .container .section-container .left .left-holder {
    height: 55.8252427184vh;
  }
}
@media (min-width: 992px) {
  .hero .container .section-container .left .left-holder {
    height: 62.6213592233vh;
  }
}
@media (min-width: 1200px) {
  .hero .container .section-container .left .left-holder {
    height: 68.932038835vh;
  }
}
@media (min-width: 1400px) {
  .hero .container .section-container .left .left-holder {
    height: 75vh;
  }
}
@media (max-width: 991px) {
  .hero .container .section-container .left .left-holder {
    position: relative;
    margin-bottom: 100px;
  }
}
.hero .container .section-container .left .floating-box-holder {
  position: relative;
  z-index: 300;
}
.hero .container .section-container .left .floating-box-holder .floating-box {
  width: 40vh;
  height: 40vh;
  max-width: 304px;
  max-height: 304px;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(-75%, -50%);
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.1);
  border-radius: 31px;
  background-color: white;
}
@media (max-width: 991px) {
  .hero .container .section-container .left .floating-box-holder .floating-box {
    display: none;
  }
}
.hero .container .section-container .left .mobile-holder {
  z-index: 299;
}
@media (max-width: 576px) {
  .hero .container .section-container .left .mobile-holder img {
    height: 50vh;
  }
}
@media (min-width: 576px) {
  .hero .container .section-container .left .mobile-holder img {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .hero .container .section-container .left .mobile-holder img {
    height: 55.8252427184vh;
  }
}
@media (min-width: 992px) {
  .hero .container .section-container .left .mobile-holder img {
    height: 62.6213592233vh;
  }
}
@media (min-width: 1200px) {
  .hero .container .section-container .left .mobile-holder img {
    height: 68.932038835vh;
  }
}
@media (min-width: 1400px) {
  .hero .container .section-container .left .mobile-holder img {
    height: 75vh;
  }
}
.hero .container .scroll-button {
  position: absolute;
  bottom: 50px;
  right: 50%;
  transform: translate(50%, 50%);
  border-radius: 1000px;
  padding: 10px;
  background-color: transparent;
  z-index: 100;
}
@media (max-width: 991px) {
  .hero .container .scroll-button {
    bottom: 100px;
  }
}
.hero .container .scroll-button::before {
  content: "";
  z-index: -1 !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% + 3px);
  height: calc(50% + 3px);
  border: 1px solid #FFAF04;
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-bottom-color: transparent;
  transition: 0.3s;
}
.hero .container .scroll-button:hover::before {
  border-bottom-color: #FFAF04;
  height: calc(100% + 3px);
  border-radius: 1000px;
}
.hero .container .s-button {
  background-color: white;
  border-radius: 1000px;
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
  .hero .container .s-button {
    padding: 15px 10px;
  }
}
@media (min-width: 576px) {
  .hero .container .s-button {
    padding: 15px 10px;
  }
}
@media (min-width: 768px) {
  .hero .container .s-button {
    padding: 23.3883495146px 15.359223301px;
  }
}
@media (min-width: 992px) {
  .hero .container .s-button {
    padding: 33.1747572816px 21.6116504854px;
  }
}
@media (min-width: 1200px) {
  .hero .container .s-button {
    padding: 42.2621359223px 27.4174757282px;
  }
}
@media (min-width: 1400px) {
  .hero .container .s-button {
    padding: 51px 33px;
  }
}
.hero .container .s-button svg {
  animation: bounce 2s infinite 2s;
}
@media (max-width: 576px) {
  .hero .container .s-button svg {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .hero .container .s-button svg {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .hero .container .s-button svg {
    font-size: 23.4951456311px;
  }
}
@media (min-width: 992px) {
  .hero .container .s-button svg {
    font-size: 27.572815534px;
  }
}
@media (min-width: 1200px) {
  .hero .container .s-button svg {
    font-size: 31.359223301px;
  }
}
@media (min-width: 1400px) {
  .hero .container .s-button svg {
    font-size: 35px;
  }
}

.features {
  margin-bottom: 50px;
}
.features .feature {
  text-align: center;
}
.features .feature .feature-icon {
  background-image: linear-gradient(90deg, rgba(255, 175, 4, 0.7) -0.01%, rgba(249, 132, 41, 0.7) 52%);
  border-radius: 50%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
  .features .feature .feature-icon {
    width: 50px;
  }
}
@media (min-width: 576px) {
  .features .feature .feature-icon {
    width: 50px;
  }
}
@media (min-width: 768px) {
  .features .feature .feature-icon {
    width: 64.6796116505px;
  }
}
@media (min-width: 992px) {
  .features .feature .feature-icon {
    width: 81.8058252427px;
  }
}
@media (min-width: 1200px) {
  .features .feature .feature-icon {
    width: 97.7087378641px;
  }
}
@media (min-width: 1400px) {
  .features .feature .feature-icon {
    width: 113px;
  }
}
@media (max-width: 576px) {
  .features .feature .feature-icon {
    height: 50px;
  }
}
@media (min-width: 576px) {
  .features .feature .feature-icon {
    height: 50px;
  }
}
@media (min-width: 768px) {
  .features .feature .feature-icon {
    height: 64.6796116505px;
  }
}
@media (min-width: 992px) {
  .features .feature .feature-icon {
    height: 81.8058252427px;
  }
}
@media (min-width: 1200px) {
  .features .feature .feature-icon {
    height: 97.7087378641px;
  }
}
@media (min-width: 1400px) {
  .features .feature .feature-icon {
    height: 113px;
  }
}
@media (max-width: 576px) {
  .features .feature .feature-icon svg {
    height: 18px;
  }
}
@media (min-width: 576px) {
  .features .feature .feature-icon svg {
    height: 18px;
  }
}
@media (min-width: 768px) {
  .features .feature .feature-icon svg {
    height: 21.4951456311px;
  }
}
@media (min-width: 992px) {
  .features .feature .feature-icon svg {
    height: 25.572815534px;
  }
}
@media (min-width: 1200px) {
  .features .feature .feature-icon svg {
    height: 29.359223301px;
  }
}
@media (min-width: 1400px) {
  .features .feature .feature-icon svg {
    height: 33px;
  }
}
.features .feature p {
  font-weight: 600;
  /*@include font-size(24px)*/
}
.features.about .feature-icon {
  background-image: none;
  background-color: #FDE7D0;
}
@media (max-width: 576px) {
  .features.about .feature-icon {
    width: 120px;
  }
}
@media (min-width: 576px) {
  .features.about .feature-icon {
    width: 120px;
  }
}
@media (min-width: 768px) {
  .features.about .feature-icon {
    width: 140.2718446602px;
  }
}
@media (min-width: 992px) {
  .features.about .feature-icon {
    width: 163.9223300971px;
  }
}
@media (min-width: 1200px) {
  .features.about .feature-icon {
    width: 185.8834951456px;
  }
}
@media (min-width: 1400px) {
  .features.about .feature-icon {
    width: 207px;
  }
}
@media (max-width: 576px) {
  .features.about .feature-icon {
    height: 120px;
  }
}
@media (min-width: 576px) {
  .features.about .feature-icon {
    height: 120px;
  }
}
@media (min-width: 768px) {
  .features.about .feature-icon {
    height: 140.2718446602px;
  }
}
@media (min-width: 992px) {
  .features.about .feature-icon {
    height: 163.9223300971px;
  }
}
@media (min-width: 1200px) {
  .features.about .feature-icon {
    height: 185.8834951456px;
  }
}
@media (min-width: 1400px) {
  .features.about .feature-icon {
    height: 207px;
  }
}
@media (max-width: 576px) {
  .features.about .feature-icon img {
    width: 25px;
  }
}
@media (min-width: 576px) {
  .features.about .feature-icon img {
    width: 25px;
  }
}
@media (min-width: 768px) {
  .features.about .feature-icon img {
    width: 30.8252427184px;
  }
}
@media (min-width: 992px) {
  .features.about .feature-icon img {
    width: 37.6213592233px;
  }
}
@media (min-width: 1200px) {
  .features.about .feature-icon img {
    width: 43.932038835px;
  }
}
@media (min-width: 1400px) {
  .features.about .feature-icon img {
    width: 50px;
  }
}

.props {
  background-image: url(../assets/img/map_bg.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 590px;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}
/* End Hero */
/* Start About */
.about {
  overflow: hidden;
  margin-top: 100px;
}
.about .text-copy ul li {
  /*@include font-size(20px);*/
  line-height: 28px;
  padding: 20px 58px 20px 20px;
  background-color: #FAFAFA;
  margin-bottom: 16px;
  position: relative;
}
.about .text-copy ul li::before {
  content: "";
  background-image: url("../assets/img/Check.png");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 29px;
  transform: translate(50%, -50%);
}
.about .left .col-holder {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.about .left .col-holder .stats {
  position: absolute;
  bottom: 70px;
  right: 0;
  transform: translateX(50%);
  background-color: #212936;
  padding: 15px 27px;
  border-radius: 8px;
  color: white;
}
@media (max-width: 1199px) {
  .about .left .col-holder .stats {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
  }
}
.about .left .col-holder .stats p:first-child {
  font-weight: 600;
  /*@include font-size(36px)*/
}
.about .left .col-holder .stats p:last-child {
  /*@include font-size(24px)*/
}
.about .left .col-holder .decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 162px;
  height: 138px;
  border-radius: 31px 6px 24px 7px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  z-index: -1;
}

.page.about {
  margin-top: unset;
}

/* End About */
/* Start How */
.how {
  margin-top: 100px;
  overflow: hidden;
}
.how .steps .step {
  max-width: 300px;
}
.how .steps .step .number {
  /*@include font-size(48px);*/
  color: white;
  width: 127px;
  height: 127px;
  background-color: #FC9918;
  border-radius: 16px;
}
@media (max-width: 576px) {
  .how .steps .step .number {
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .how .steps .step .number {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .how .steps .step .number {
    font-size: 34.1941747573px;
  }
}
@media (min-width: 992px) {
  .how .steps .step .number {
    font-size: 39.0873786408px;
  }
}
@media (min-width: 1200px) {
  .how .steps .step .number {
    font-size: 43.6310679612px;
  }
}
@media (min-width: 1400px) {
  .how .steps .step .number {
    font-size: 48px;
  }
}
.how .steps .step p {
  padding-right: 8px;
}
.how .steps .step p:first-child {
  /*font-size: 24px;*/
}
.how .steps .step p:last-child {
  /*font-size: 20px;*/
  line-height: 30px;
  color: #787878;
}
@media (max-width: 991px) {
  .how .steps .step {
    max-width: unset;
  }
  .how .steps .step p {
    padding-right: unset;
  }
}

/* End How */
/* Start Services */
.services,
.services-services {
  margin-top: 100px;
  overflow: hidden;
}
.services h2,
.services-services h2 {
  /*@include font-size(40px);*/
}
.services .services-holder .service,
.services-services .services-holder .service {
  padding: 25px 19px;
  transition-duration: 0.3s;
}
@media (max-width: 576px) {
  .services .services-holder .service,
  .services-services .services-holder .service {
    height: 426px;
  }
}
@media (min-width: 576px) {
  .services .services-holder .service,
  .services-services .services-holder .service {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .services .services-holder .service,
  .services-services .services-holder .service {
    height: 329.359223301px;
  }
}
@media (min-width: 992px) {
  .services .services-holder .service,
  .services-services .services-holder .service {
    height: 363.6116504854px;
  }
}
@media (min-width: 1200px) {
  .services .services-holder .service,
  .services-services .services-holder .service {
    height: 395.4174757282px;
  }
}
@media (min-width: 1400px) {
  .services .services-holder .service,
  .services-services .services-holder .service {
    height: 426px;
  }
}
@media (min-width: 768px) and (max-width: 991) {
  .services .services-holder .service,
  .services-services .services-holder .service {
    height: 426px;
  }
}
.services .services-holder .service .service-icon,
.services-services .services-holder .service .service-icon {
  position: relative;
  width: 87px;
  height: 92px;
  border-radius: 19px;
  padding: 16px;
  margin-bottom: 24px;
  right: 0;
  transition: 0.3s;
}
.services .services-holder .service .service-icon svg,
.services-services .services-holder .service .service-icon svg {
  font-size: 30px;
}
.services .services-holder .service:hover,
.services-services .services-holder .service:hover {
  transform: scale(1.03) !important;
}
.services .services-holder .service:hover .service-icon,
.services-services .services-holder .service:hover .service-icon {
  right: 50%;
  transform: translateX(50%);
}
.services .services-holder .service .service-title,
.services-services .services-holder .service .service-title {
  /*font-size: 24px;*/
}
.services .services-holder .service p,
.services-services .services-holder .service p {
  margin-top: 24px;
  /*font-size: 20px;*/
  line-height: 30px;
}
.services .services-holder a,
.services-services .services-holder a {
  width: 262px;
  display: flex !important;
}
@media (max-width: 576px) {
  .services .services-holder a,
  .services-services .services-holder a {
    width: 262px;
  }
}
@media (min-width: 576px) {
  .services .services-holder a,
  .services-services .services-holder a {
    width: 130px;
  }
}
@media (min-width: 768px) {
  .services .services-holder a,
  .services-services .services-holder a {
    width: 160.7572815534px;
  }
}
@media (min-width: 992px) {
  .services .services-holder a,
  .services-services .services-holder a {
    width: 196.640776699px;
  }
}
@media (min-width: 1200px) {
  .services .services-holder a,
  .services-services .services-holder a {
    width: 229.9611650485px;
  }
}
@media (min-width: 1400px) {
  .services .services-holder a,
  .services-services .services-holder a {
    width: 262px;
  }
}
@media (min-width: 768px) and (max-width: 991) {
  .services .services-holder a,
  .services-services .services-holder a {
    width: 262px;
  }
}
.services .services-holder.marg,
.services-services .services-holder.marg {
  margin-right: -175px;
}
@media (max-width: 991px) {
  .services .services-holder.marg,
  .services-services .services-holder.marg {
    margin-right: unset;
  }
}
.services .services-holder.marg .service,
.services-services .services-holder.marg .service {
  height: 231px;
  border-radius: 32px;
}
@media (max-width: 576px) {
  .services .services-holder.marg .service,
  .services-services .services-holder.marg .service {
    width: 262px;
  }
}
@media (min-width: 576px) {
  .services .services-holder.marg .service,
  .services-services .services-holder.marg .service {
    width: 130px;
  }
}
@media (min-width: 768px) {
  .services .services-holder.marg .service,
  .services-services .services-holder.marg .service {
    width: 160.7572815534px;
  }
}
@media (min-width: 992px) {
  .services .services-holder.marg .service,
  .services-services .services-holder.marg .service {
    width: 196.640776699px;
  }
}
@media (min-width: 1200px) {
  .services .services-holder.marg .service,
  .services-services .services-holder.marg .service {
    width: 229.9611650485px;
  }
}
@media (min-width: 1400px) {
  .services .services-holder.marg .service,
  .services-services .services-holder.marg .service {
    width: 262px;
  }
}
@media (min-width: 768px) and (max-width: 991) {
  .services .services-holder.marg .service,
  .services-services .services-holder.marg .service {
    width: 262px;
  }
}
.services .services-holder.serv .service,
.services-services .services-holder.serv .service {
  border-top-left-radius: 241px 76px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 241px 76px;
  border-bottom-left-radius: 50px;
}
@media (max-width: 575px) {
  .services .services-holder.serv .service,
  .services-services .services-holder.serv .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .services .services-holder.serv .service:hover .service-icon,
  .services-services .services-holder.serv .service:hover .service-icon {
    right: unset;
    transform: unset;
  }
}

.page.services {
  margin-top: unset;
}

.service.one {
  background-color: rgba(255, 232, 232, 0.3);
}
.service.one .service-icon {
  background-color: #ffe8e8;
}
.service.one:hover {
  background-color: #ffe8e8;
}

.service.two {
  background-color: rgba(211, 233, 255, 0.3);
}
.service.two .service-icon {
  background-color: #d3e9ff;
}
.service.two:hover {
  background-color: #d3e9ff;
}

.service.three {
  background-color: rgba(174, 248, 207, 0.3);
}
.service.three .service-icon {
  background-color: #aef8cf;
}
.service.three:hover {
  background-color: #aef8cf;
}

.service.four {
  background-color: rgba(255, 228, 188, 0.3);
}
.service.four .service-icon {
  background-color: #ffe4bc;
}
.service.four:hover {
  background-color: #ffe4bc;
}

.service.five {
  background-color: rgba(255, 228, 252, 0.3);
}
.service.five .service-icon {
  background-color: #ffe4fc;
}
.service.five:hover {
  background-color: #ffe4fc;
}

.service.six {
  background-color: rgba(200, 251, 244, 0.3);
}
.service.six .service-icon {
  background-color: #c8fbf4;
}
.service.six:hover {
  background-color: #c8fbf4;
}

.service.seven {
  background-color: rgba(253, 243, 235, 0.3);
}
.service.seven .service-icon {
  background-color: #fdf3eb;
}
.service.seven:hover {
  background-color: #fdf3eb;
}

.service.eight {
  background-color: rgba(255, 232, 232, 0.3);
}
.service.eight .service-icon {
  background-color: #ffe8e8;
}
.service.eight:hover {
  background-color: #ffe8e8;
}

/* End Services */
/* Start Provider */
.provider {
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 100px;
}
.provider .section-container {
  background-image: url(../assets/img/Provider_BG.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.provider .text-copy,
.provider .img-holder {
  padding: 73px 63px 0;
}
@media (max-width: 991px) {
  .provider .text-copy,
  .provider .img-holder {
    padding: 35px 26px;
  }
}
.provider h2 {
  line-height: 150%;
}
.provider.about, .provider.services-page {
  margin-top: unset;
}
.provider.about .section-container, .provider.services-page .section-container {
  border-radius: 30px;
  background-image: linear-gradient(177.39deg, #FEF4EC 1.94%, rgba(254, 244, 236, 0) 97.6%);
}
@media (max-width: 576px) {
  .provider.about h2, .provider.services-page h2 {
    font-size: 24px;
  }
}
@media (min-width: 576px) {
  .provider.about h2, .provider.services-page h2 {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .provider.about h2, .provider.services-page h2 {
    font-size: 26.7961165049px;
  }
}
@media (min-width: 992px) {
  .provider.about h2, .provider.services-page h2 {
    font-size: 30.0582524272px;
  }
}
@media (min-width: 1200px) {
  .provider.about h2, .provider.services-page h2 {
    font-size: 33.0873786408px;
  }
}
@media (min-width: 1400px) {
  .provider.about h2, .provider.services-page h2 {
    font-size: 36px;
  }
}
.provider.about h2 span, .provider.services-page h2 span {
  color: #FFAF04;
}
.provider.about .badges a img, .provider.services-page .badges a img {
  transition: 0.3s;
}
@media (max-width: 576px) {
  .provider.about .badges a img, .provider.services-page .badges a img {
    width: 120px;
  }
}
@media (min-width: 576px) {
  .provider.about .badges a img, .provider.services-page .badges a img {
    width: 120px;
  }
}
@media (min-width: 768px) {
  .provider.about .badges a img, .provider.services-page .badges a img {
    width: 138.640776699px;
  }
}
@media (min-width: 992px) {
  .provider.about .badges a img, .provider.services-page .badges a img {
    width: 160.3883495146px;
  }
}
@media (min-width: 1200px) {
  .provider.about .badges a img, .provider.services-page .badges a img {
    width: 180.5825242718px;
  }
}
@media (min-width: 1400px) {
  .provider.about .badges a img, .provider.services-page .badges a img {
    width: 200px;
  }
}
.provider.about .badges a img:hover, .provider.services-page .badges a img:hover {
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .provider.services-page img {
    height: 250px;
  }
}

/* End Provider */
/* Start Plans */
.plans {
  margin-top: 100px;
}
.plans .section-title h2 {
  /*@include font-size(32px)*/
}
.plans .switcher {
  border-radius: 1000px;
  padding: 10px;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.1);
}
.plans .switcher .toog {
  width: 162px;
  font-size: 20px !important;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 1000px;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  z-index: 2;
}
.plans .switcher .toog:hover {
  font-weight: 600;
}
.plans .switcher .toog.active {
  font-weight: 600;
}
.plans .switcher .switcher-bg {
  position: absolute;
  background-color: #FDECE2;
  border-radius: 1000px;
  width: 162px;
  height: 68px;
  top: 10px;
  z-index: 0;
  transition: 0.3s;
}
.plans .switcher .switcher-bg.left {
  left: 10px;
}
.plans .switcher .switcher-bg.right {
  left: calc(100% - 172px);
}
.plans .plans-holder .plan {
  background-color: #FAFAFA;
  border: 1px solid #F0F0F0;
  border-radius: 50px;
  padding: 50px 16px 33px;
}
.plans .plans-holder .plan .name {
  /*font-size: 24px;*/
  color: #747474;
}
.plans .plans-holder .plan .price .num {
  font-size: 48px;
  margin-left: 10px;
}
.plans .plans-holder .plan .price .cur {
  /*font-size: 20px;*/
}
.plans .plans-holder .plan button {
  width: 100%;
}
.plans .plans-holder .plan ul li {
  padding-right: 36px;
  font-size: 14px;
  line-height: 21px;
  position: relative;
}
.plans .plans-holder .plan ul li:not(:last-child) {
  margin-bottom: 18px;
}
.plans .plans-holder .plan ul li::before {
  content: "";
  background-image: url("../assets/img/plans_check.png");
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 14px;
  transform: translate(50%, -50%);
}
.plans .plans-holder .plan.popular {
  padding: 100px 16px;
  color: white;
  background-image: url(../assets/img/popular_plan_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.plans .plans-holder .plan.popular .name {
  color: white;
}
.plans .plans-holder .plan.popular button:hover {
  background-color: white;
  color: black;
}
.plans .plans-holder .plan.popular ul li::before {
  background-image: url("../assets/img/plans_popular_check.png");
}

/* End Plans */
/* Start Footer */
footer {
  margin-top: 100px;
  background-color: #202020;
}
footer .links li a {
  text-decoration: none;
  /*font-size: 20px;*/
  color: white;
  display: block;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 991px) {
  footer .links li a {
    margin-left: auto;
    margin-right: auto;
  }
}
footer .links li a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  height: 6px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  width: 0;
  border-radius: 56px;
  transition: 0.3s;
}
footer .links li a:hover::after {
  width: 50px;
}
footer .links li:not(:last-child) {
  margin-bottom: 20px;
}
footer .main-footer {
  padding-top: 43px;
  border-bottom: 1px solid #FFFFFF;
}
footer .main-footer .brand img {
  max-width: 100%;
}
@media (max-width: 576px) {
  footer .main-footer .brand img {
    width: 100px;
  }
}
@media (min-width: 576px) {
  footer .main-footer .brand img {
    width: 100px;
  }
}
@media (min-width: 768px) {
  footer .main-footer .brand img {
    width: 106.9902912621px;
  }
}
@media (min-width: 992px) {
  footer .main-footer .brand img {
    width: 115.145631068px;
  }
}
@media (min-width: 1200px) {
  footer .main-footer .brand img {
    width: 122.7184466019px;
  }
}
@media (min-width: 1400px) {
  footer .main-footer .brand img {
    width: 130px;
  }
}
footer .main-footer h3 {
  /*font-size: 20px;*/
  background: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .main-footer .socials .nav-link {
  background-color: rgba(255, 255, 255, 0.0509803922);
  background-image: none;
  border-radius: 50%;
  transition: 0.3s;
}
@media (max-width: 576px) {
  footer .main-footer .socials .nav-link {
    width: 32px;
  }
}
@media (min-width: 576px) {
  footer .main-footer .socials .nav-link {
    width: 32px;
  }
}
@media (min-width: 768px) {
  footer .main-footer .socials .nav-link {
    width: 35.7281553398px;
  }
}
@media (min-width: 992px) {
  footer .main-footer .socials .nav-link {
    width: 40.0776699029px;
  }
}
@media (min-width: 1200px) {
  footer .main-footer .socials .nav-link {
    width: 44.1165048544px;
  }
}
@media (min-width: 1400px) {
  footer .main-footer .socials .nav-link {
    width: 48px;
  }
}
@media (max-width: 576px) {
  footer .main-footer .socials .nav-link {
    height: 32px;
  }
}
@media (min-width: 576px) {
  footer .main-footer .socials .nav-link {
    height: 32px;
  }
}
@media (min-width: 768px) {
  footer .main-footer .socials .nav-link {
    height: 35.7281553398px;
  }
}
@media (min-width: 992px) {
  footer .main-footer .socials .nav-link {
    height: 40.0776699029px;
  }
}
@media (min-width: 1200px) {
  footer .main-footer .socials .nav-link {
    height: 44.1165048544px;
  }
}
@media (min-width: 1400px) {
  footer .main-footer .socials .nav-link {
    height: 48px;
  }
}
footer .main-footer .socials .nav-link:hover {
  background-color: transparent;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
}
footer .main-footer .socials .nav-link svg {
  font-size: 22px;
  color: white;
}
@media (max-width: 576px) {
  footer .main-footer .socials .nav-link svg {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  footer .main-footer .socials .nav-link svg {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  footer .main-footer .socials .nav-link svg {
    font-size: 17.3980582524px;
  }
}
@media (min-width: 992px) {
  footer .main-footer .socials .nav-link svg {
    font-size: 19.0291262136px;
  }
}
@media (min-width: 1200px) {
  footer .main-footer .socials .nav-link svg {
    font-size: 20.5436893204px;
  }
}
@media (min-width: 1400px) {
  footer .main-footer .socials .nav-link svg {
    font-size: 22px;
  }
}
footer .main-footer .download img {
  width: 160px;
  max-width: 100%;
  transition: 0.3s;
}
footer .main-footer .download img:hover {
  transform: scale(1.05);
}
footer .copyrights {
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (max-width: 991px) {
  footer .copyrights p {
    text-align: center !important;
  }
}
footer .copyrights a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
footer .copyrights a:hover {
  color: white;
}

/* End Footer */
/* Start provider-cta */
.provider-cta {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
}
.provider-cta .container-fluid {
  padding: 0;
}
.provider-cta .holder {
  box-shadow: 0px 4px 75px 0px rgba(0, 0, 0, 0.2509803922);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.provider-cta .right {
  position: relative;
  height: 450px;
  top: -20px;
}
@media (max-width: 767px) {
  .provider-cta .right {
    top: 0;
  }
}
.provider-cta .right .holder {
  position: absolute;
  background-image: url(../assets/img/provider-cta-yellow-bg.png);
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.provider-cta .right img {
  position: relative;
  z-index: 60;
  height: 450px;
}
@media (max-width: 991px) {
  .provider-cta .right img {
    z-index: 1;
  }
}
.provider-cta .left .holder {
  background-image: url(../assets/img/provider-cta-black-bg.png);
  padding-top: 50px;
  padding-right: 156px;
  margin-right: -220px;
  width: calc(100% + 220px);
  position: relative;
}
@media (max-width: 991px) {
  .provider-cta .left .holder {
    padding-right: 60px;
    margin-right: -100px;
    width: calc(100% + 100px);
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .provider-cta .left .holder {
    z-index: 30;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -150px;
    width: 90%;
  }
}
.provider-cta .left .holder h2 {
  max-width: 740px;
  line-height: 72px;
}
@media (max-width: 991px) {
  .provider-cta .left .holder h2 {
    text-align: start;
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .provider-cta .left .holder h2 {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
  }
}

/* End provider-cta */
/* Start Services-services */
.services-services .after::after {
  left: unset;
  right: -30px;
}
@media (max-width: 991px) {
  .services-services .after::after {
    left: 50%;
    right: unset;
  }
}

/* End Services-services */
/* Start Page Title */
.page-title {
  height: 300px;
  background-image: url(../assets/img/Section-title-bg.svg);
  background-size: cover;
}
@media (max-width: 991px) {
  .page-title {
    background-image: url(../assets/img/Section-title-bg-1.svg);
  }
}
.page-title h1 {
  padding-right: 40px;
}
.page-title h1::after {
  height: 43px;
  width: 5px;
  left: unset;
  right: 20px;
  transform: translate(50%, -50%);
}
@media (max-width: 991px) {
  .page-title h1 {
    padding-right: unset;
  }
  .page-title h1::after {
    left: 50%;
    right: unset;
    height: 5px;
    width: 43px;
    top: unset;
    transform: translateX(-50%);
    bottom: -20px;
  }
}

/* End Page Title */
/* Start Contact */
.contact {
  position: relative;
  overflow: hidden;
}
.contact .contact-bg {
  max-width: 768px;
  width: 33%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.contact h2 span {
  color: #FFAF04;
}
.contact .info {
  background-color: white;
  border-radius: 20px;
}
.contact .info .info-rows .icon {
  width: 56px;
  height: 56px;
  background-color: #F4F8FC;
  border-radius: 50%;
}
.contact .info .info-rows .icon svg {
  color: #FFAF04;
  /*font-size: 20px;*/
}
.contact .info .info-rows p {
  margin-bottom: 7px;
}
.contact .info .socials {
  margin-bottom: 60px;
}
.contact .info .socials svg {
  font-size: 25px;
  transition: 0.3s;
}
.contact .info .socials svg:hover {
  color: #FFAF04;
}
.contact .form p {
  color: #787878;
  letter-spacing: 0.02em;
  line-height: 27.79px;
  /*font-size: 24px;*/
}
.contact .form form input,
.contact .form form textarea {
  background-color: #FBFBFB;
  border-color: #E0E0E0;
}
@media (max-width: 991px) {
  .contact .form form input,
  .contact .form form textarea {
    max-width: unset;
  }
}
.contact .form form input:focus,
.contact .form form textarea:focus {
  border-color: #FFAF04;
  outline: none;
  box-shadow: none;
}
.contact .form form button {
  /*font-size: 20px;*/
}
@media (max-width: 991px) {
  .contact .form form button {
    max-width: unset;
  }
}

/* End Contact */
/* Start Terms */
.terms h3 {
  /*font-size: 24px;*/
  font-weight: 600;
  line-height: 28.8px;
}
.terms p {
  /*font-size: 20px;*/
  line-height: 30px;
  margin-bottom: 48px;
}
@media (max-width: 991px) {
  .terms h3,
  .terms p {
    text-align: start;
  }
}

/* End Terms */
/* Start blog-archive */
.blog-archive .blog-post {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.blog-archive .blog-post .blog-img {
  position: relative;
  overflow: hidden;
}
.blog-archive .blog-post .blog-img img {
  transition: 0.3s;
}
.blog-archive .blog-post .blog-img .category {
  position: absolute;
  border-radius: 8px;
  left: 14px;
  bottom: 14px;
  padding: 10px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  transition: 0.3s;
}
.blog-archive .blog-post .blog-img .category a {
  color: white;
  text-decoration: none;
}
.blog-archive .blog-post .blog-img .category:hover {
  background-image: none;
  background-color: black;
}
.blog-archive .blog-post:hover .blog-img img {
  transform: scale(1.05);
}
.blog-archive .blog-post .blog-info h2 {
  /*font-size: 20px;*/
}
.blog-archive .blog-post .blog-info h2 a {
  text-decoration: none;
  color: black;
}
.blog-archive .blog-post .blog-info h2 a::after {
  width: 0;
  bottom: -7.5px;
  height: 4px;
  right: 0;
  transform: unset;
}
.blog-archive .blog-post .blog-info h2 a:hover::after {
  width: 40px;
}
@media (max-width: 991px) {
  .blog-archive .blog-post .blog-info h2,
  .blog-archive .blog-post .blog-info p {
    text-align: start;
  }
}

.time {
  color: #828282;
}
.time svg {
  /*font-size: 20px;*/
  margin-bottom: 5px;
}

/* End blog-archive */
/* Start Post */
.page.post .share span {
  /*font-size: 20px;*/
}
.page.post .share a {
  width: 45px;
  height: 45px;
  background-color: #F2F2F2;
  border-radius: 50%;
  /*font-size: 20px;*/
  transition: 0.3s;
}
.page.post .share a:hover {
  background-color: #FFAF04;
  color: white;
}
.page.post .featured-image {
  height: 500px;
  overflow: hidden;
}
.page.post .featured-image img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
}
.page.post .post-category {
  border-radius: 8px;
  padding: 10px;
  background-image: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
  transition: 0.3s;
  width: -moz-fit-content;
  width: fit-content;
}
.page.post .post-category a {
  color: white;
  text-decoration: none;
}
.page.post .post-category:hover {
  background-image: none;
  background-color: black;
}
.page.post p {
  /*font-size: 20px;*/
  line-height: 30px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .page.post p {
    text-align: start;
  }
}

/* End Post *//*# sourceMappingURL=main.css.map */