// Start Import Mixins

@use './helpers/_mixins' as *;

// End Import Mixins

/* Start Importing Fonts */
@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl-Bold.otf");
  font-weight: 600;
}

/* End Importing Fonts */

/* Start Variables */

$transitionDuration: .3s;
$mainGradientYellow: linear-gradient(90deg, #FFAF04 -0.01%, #F98429 52%);
$secondGradientYellow: linear-gradient(90deg, rgba(255, 175, 4, 0.7) -0.01%, rgba(249, 132, 41, 0.7) 52%);
;

/* End Variables */

/* Start Global Rules */
body {
  font-family: "SuisseIntl";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::selection {
  // color: $back2;
  // background-color: $main;
}

ul {
  list-style: none;
  margin: 0;
  padding-right: 0;
}

.container-xxl {
  @include breakpoints('xxl') {
    max-width: 1800px;
  }
}

.fw-bold {
  font-weight: 600 !important;
}

/* End Global Rules */

/* Start Components */
.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-question {
  padding: 12px 31px;
  @include font-size(24px);
  color: #212936;
  border-radius: 1000px;
  background-color: #F4F4F4;
  width: fit-content;
  margin-bottom: 25px;
}

h2 {
  @include font-size(40px);
  line-height: 150%;
}

.test {
  border: 1px solid red;
}

.test-blue {
  border: 1px solid blue;
}

/* End Components */

/* Start Header */
header {
  // padding-top: 53px;
  // padding-bottom: 53px;

  .container-xxl {

    .navbar-brand {
      img {
        max-width: 167px;
      }
    }

    .navigation {
      a {
        color: rgba(108, 108, 108, 1);
        // font-size: 24px;
        @include font-size(24px);
        transition: $transitionDuration;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -7px;
          right: 15px;
          height: 6px;
          background-image: $mainGradientYellow;
          width: 0;
          border-radius: 56px;
          transition: $transitionDuration;
        }

        &:hover,
        &.active {
          font-weight: bold;
          color: rgba(33, 41, 54, 1);

          &::after {
            width: 25%;

          }
        }
      }
    }

    .socials {
      button {
        background-image: none;
        background-color: rgba(22, 24, 27, 1);
        color: white;
        font-weight: 600;
        // font-size: 24px;
        @include font-size(24px);
        padding: 23px 21px 23px 21px;
        transition: $transitionDuration;
        border-radius: 16px;

        &:hover {
          background-image: $mainGradientYellow;
          background-color: none;
        }
      }

      .nav-link {
        width: 48px;
        height: 48px;
        background-color: transparent;
        background-image: $mainGradientYellow;
        border-radius: 50%;
        transition: $transitionDuration;

        &:hover {
          background-color: black;
          background-image: none;
        }

        svg {
          font-size: 22px;
          @include font-size(22px);
          color: white;
        }
      }
    }
  }
}

/* End Header */
/* Start Hero */
.hero {
  height: calc(100vh - 110px);

  .container-xxl {
    position: relative;

    .hero-bg {
      background-image: url('../assets/img/Hero_bg.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }

    .section-container {
      padding: 72px;
      position: relative;
      z-index: 100;

      @include breakpoints("xl") {
        padding: 45px
      }

      .text-copy {
        @include breakpoints("md") {
          text-align: center
        }

        h1 {
          @include font-size(40px);
        }

        &>p {
          @include font-size(26px);
          color: rgba(129, 129, 129, 1);
          line-height: 150%;
        }

        .badges {
          img {
            min-width: 60px;
            width: 25vh;
            max-width: 245px;
            transition: $transitionDuration;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        .features {
          margin-bottom: 50px;

          .feature {
            text-align: center;

            .feature-icon {
              background-image: $secondGradientYellow;
              width: 113px;
              height: 113px;
              border-radius: 50%;
              margin-bottom: 30px;
              margin-right: auto;
              margin-left: auto;

              svg {
                font-size: 33px;
              }
            }

            p {
              font-weight: 600;
              @include font-size(24px)
            }
          }
        }
      }

      .left {
        position: relative;

        .left-holder {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          @include breakpoints("md") {
            position: relative;
            margin-bottom: 100px;
          }
        }

        .floating-box-holder {
          position: relative;

          .floating-box {
            width: 40vh;
            height: 40vh;
            max-width: 304px;
            max-height: 304px;
            position: absolute;
            top: 40%;
            left: 0;
            transform: translate(-75%, -50%);
            box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.1);
            border-radius: 31px;
            background-color: white;

            @include breakpoints("md") {
              display: none;
            }
          }
        }

        .mobile-holder img {
          height: 75vh;
        }
      }
    }

    .scroll-button {
      position: absolute;
      bottom: 50px;
      right: 50%;
      transform: translate(50%, 50%);
      border-radius: 1000px;
      padding: 10px;
      background-color: transparent;
      z-index: 100;

      // border-width: 2px;
      // border-image: $mainGradientYellow 1;
      &::before {
        content: '';
        z-index: -1 !important;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: calc(100% + 3px);
        height: calc(50% + 3px);
        border: 1px solid #FFAF04;
        // background-color: red;
        border-top-right-radius: 1000px;
        border-top-left-radius: 1000px;
        border-bottom-color: transparent;
        transition: $transitionDuration;
      }

      &:hover::before {
        border-bottom-color: #FFAF04;
        height: calc(100% + 3px);
        border-radius: 1000px;
      }
    }

    .s-button {
      padding: 51px 33px;
      background-color: white;
      border-radius: 1000px;
      box-shadow: 0 4px 75px 0 rgba($color: #000000, $alpha: 0.1);

      svg {
        font-size: 35px;
        color: black;
        animation: bounce 2s infinite 2s;
      }
    }
  }

}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-35px);
  }

  60% {
    transform: translateY(-25px);
  }
}

/* End Hero */
/* Start About */
.about {
  .text-copy {

    ul {
      li {
        @include font-size(20px);
        line-height: 28px;
        padding: 20px 58px 20px 20px;
        background-color: #FAFAFA;
        margin-bottom: 16px;
        position: relative;

        &::before {
          content: "";
          background-image: url("../assets/img/Check.png");
          width: 24px;
          height: 24px;
          position: absolute;
          top: 50%;
          right: 29px;
          transform: translate(50%, -50%);
        }
      }
    }
  }

  .left {

    .col-holder {
      position: relative;
      width: fit-content;

      .stats {
        position: absolute;
        bottom: 50px;
        right: 0;
        transform: translateX(50%);
        background-color: #212936;
        padding: 15px 27px;
        border-radius: 8px;
        color: white;

        p:first-child {
          font-weight: 600;
          @include font-size(36px)
        }

        p:last-child {
          @include font-size(24px)
        }
      }

      .decoration {
        position: absolute;
        top: 0;
        left: 0;
        width: 162px;
        height: 138px;
        border-radius: 31px 6px 24px 7px;
        background-image: $mainGradientYellow;
        z-index: -1;
      }
    }

  }
}

/* End About */